* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  /* Against <h> headers */
  text-decoration: none;
  /* Against <a> links (underline) */
  outline: none;
  /* No outline around <input> */
  -webkit-user-select: none;
  /* No select everything in page */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

html {
  height: 100%; }

body {
  height: 100%;
  overflow: hidden; }

ul {
  list-style-type: none; }

.nice-button {
  display: inline-block;
  padding: 7px 20px;
  background: #08f;
  color: #eee;
  font: 16px Sans-serif;
  cursor: pointer;
  position: relative;
  border: none;
  margin-bottom: 4px;
  top: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 0 #06c;
  -moz-box-shadow: 0 4px 0 #06c;
  box-shadow: 0 4px 0 #06c;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.nice-button:hover {
  background: #06c;
  -webkit-box-shadow: 0 4px 0 #048;
  -moz-box-shadow: 0 4px 0 #048;
  box-shadow: 0 4px 0 #048; }

.nice-button:active {
  top: 4px;
  -webkit-box-shadow: 0 0 0 #06c;
  -moz-box-shadow: 0 0 0 #06c;
  box-shadow: 0 0 0 #06c; }

.nice-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: -4px;
  left: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.nice-button:active:after {
  top: -4px; }

body {
  background: #8d8d8d;
  font-family: sans-serif; }

#app, #game, #ui, main {
  height: 100%; }

#app {
  background: #1f2122;
  /*
  width: 500px;
  height: 500px;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0);
  */ }

#start {
  width: 320px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333335;
  border-radius: 5px; }
#start input {
  width: 75%;
  font: 20px sans-serif;
  background: #252526;
  color: #adadad;
  border: 1px solid #535353;
  border-radius: 4px;
  padding: 4px; }
#start button {
  margin-top: 30px;
  padding: 8px 30px; }

#ui {
  position: relative;
  color: #dadada; }
#ui #name {
  position: absolute;
  font: 24px/24px Loma; }
#ui #time {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font: 25px/1em Loma; }
#ui #properties {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse; }
#ui .scale {
  width: 300px;
  height: 32px;
  background: #252829;
  border: 2px solid #1a1c1d;
  border-radius: 50px;
  margin: 4px 2px;
  position: relative; }
#ui .scale p {
  display: block;
  position: absolute;
  height: 100%;
  border-radius: 50px;
  font: 20px/32px Loma;
  padding-left: 10px; }
#ui #hp p {
  background: red;
  width: 60%; }
#ui #mp p {
  background: mediumblue;
  width: 40%; }
#ui .ability {
  width: 60px;
  height: 60px;
  background: #252829 no-repeat center;
  background-size: 60px 60px;
  border: 2px solid #1a1c1d;
  border-radius: 50%;
  padding: 9px;
  cursor: pointer; }
#ui #shield {
  background-image: url("../img/Artboard.png"); }
#ui #boost {
  background-image: url("../img/Korabl.png"); }

main #player {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../img/Korabl.png"); }

/*# sourceMappingURL=style.css.map */
