@import "standard";

$background-color: #8d8d8d;

body {
	background: $background-color;
	font-family: sans-serif;
	overflow: hidden;
}

#game, #ui, main {
	width: 100%;
	height: 100%;
}

//$app-size: 600px;
$app-size: 100%;

#app {
	background: #1f2122;
	color: #dadada;
	width: $app-size;
	height: $app-size;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	&:after {
		content: '';
		width: $app-size;
		height: $app-size;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 0 0 0 2000px $background-color;
	}
}

#background {
	background: url("../img/background.png") center;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#game {
	transition: filter 0.5s linear;
}

.paused {
	-webkit-filter: blur(7px);
	-moz-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
	filter: blur(7px);
}

#start {
	width: 320px;
	height: 160px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.4);
	background: #333335;
	border-radius: 5px;
	z-index: 1;
	
	input {
		width: 75%;
		font: 20px sans-serif;
		background: #252526;
		color: #adadad;
		border: 1px solid #535353;
		border-radius: 4px;
		padding: 4px;
	}
	
	p {
		position: absolute;
		margin-top: -3px;
		width: 75%;
		color: red;
		font-size: 18px;
		font-weight: bold;
	}
	
	button {
		margin-top: 30px;
		padding: 8px 30px;
	}
}

#ui {
	position: absolute;
	
	#username {
		position: absolute;
		font: 24px/24px Loma;
	}
	
	#time {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		font: 25px/1em Loma;
	}
	
	#properties {
		position: absolute;
		bottom: 0;
		display: flex;
		flex-direction: column-reverse;
	}
	
	.scale {
		width: 300px;
		height: 34px;
		background: #252829;
		box-sizing: border-box;
		border: 2px solid #1a1c1d;
		border-radius: 50px;
		margin: 4px 2px;
		position: relative;
		
		p {
			box-sizing: border-box;
			display: block;
			position: absolute;
			height: 100%;
			width: 100%;
			border-radius: 50px;
			font: 20px/28px Loma;
			padding-left: 10px;
			transition: width 0.2s ease-in-out;
		}
	}
	
	#hp p {
		background: red;
	}
	
	#mp p {
		background: mediumblue;
	}
	
	$ability-size: 60px;
	
	.ability {
		width: $ability-size;
		height: $ability-size;
		background: #252829 no-repeat center;
		border: 2px solid #1a1c1d;
		border-radius: 50%;
		cursor: pointer;
		position: relative;
		
		.filling {
			width: $ability-size;
			position: absolute;
			bottom: 0;
			top: 100%;
			overflow: hidden;
			
			&:after {
				content: '';
				display: block;
				background: rgba(51, 51, 51, 0.57);
				width: $ability-size;
				height: $ability-size;
				position: absolute;
				bottom: 0;
				border-radius: 50%;
			}
		}
	}
	
	#shield {
		background-image: url("../img/shield.png");
		background-size: 47px 47px;
	}
	
	#boost {
		background-image: url("../img/spaceship.png");
		background-size: 42px 42px;
		background-position-y: 6px;
	}
}

main {
	position: absolute;
	
	$player-size: 75px;
	
	#player {
		position: absolute;
		width: $player-size;
		height: $player-size;
		background: url("../img/spaceship.png") center no-repeat;
		background-size: $player-size $player-size;
		//border-radius: 50%;
		//border: 1px solid red;
		
		$shield-margin: 35px;
		
		#shield-on {
			position: absolute;
			top: -$shield-margin;
			bottom: -$shield-margin;
			left: -$shield-margin;
			right: -$shield-margin;
			background: url("../img/shield.png") center no-repeat;
			background-size: ($player-size + $shield-margin) ($player-size + $shield-margin);
			background-position-y: 23px;
			opacity: 0;
			transition: opacity 0.5s ease-in-out;
		}
	}
	
	.meteor {
		position: absolute;
		top: 30%;
		left: 70%;
		background: center no-repeat;
		//border-radius: 50%;
		//border: 1px solid red;
	}
	
	$small-size: 30px;
	
	.small {
		width: $small-size;
		height: $small-size;
		background-image: url('../img/meteor_small.png');
		background-size: $small-size $small-size;
	}
	
	$medium-size: 50px;
	
	.medium {
		width: $medium-size;
		height: $medium-size;
		background-image: url('../img/meteor_medium.png');
		background-size: $medium-size $medium-size;
	}
	
	$large-size: 90px;
	
	.large {
		width: $large-size;
		height: $large-size;
		background-image: url('../img/meteor_large.png');
		background-size: $large-size $large-size;
	}
	
	$explosion-size: 70px;
	
	.explosion {
		position: absolute;
		transform: translate(-50%, -50%);
		width: $explosion-size;
		height: $explosion-size;
		background-position: center;
		background-repeat: no-repeat;
		background-size: $explosion-size $explosion-size;
		z-index: 5;
	}
	
	.explosion1 {
		background-image: url("../img/explosion1.png");
	}
	
	.explosion2 {
		background-image: url("../img/explosion2.png");
	}
}

#pause-screen {
	width: 300px;
	height: 170px;
	background: #2b2c2e;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	p {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 26px;
	}
}

#table-screen {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	background: #333335;
	border-radius: 10px;
	font-size: 22px;
	z-index: 1;
	
	table {
		width: 100%;
		box-sizing: border-box;
		padding: 10px;
		border-spacing: 0 3px;
		
		tr {
			th:nth-child(1), td:nth-child(1) {
				text-align: center;
				width: 10%;
			}
			
			th:nth-child(2), td:nth-child(2) {
				text-align: left;
				width: 40%;
			}
			
			th:nth-child(3), td:nth-child(3) {
				text-align: center;
				width: 26%;
			}
			
			th:nth-child(4), td:nth-child(4) {
				text-align: center;
				width: 23%;
			}
		}
		
		td {
			color: #909090;
			padding: 3px 0;
		}
		
		tr:nth-child(2) td {
			color: gold;
		}
		
		tr:nth-child(3) td {
			color: silver;
		}
		
		tr:nth-child(4) td {
			color: #EC6A16;
		}
		
		#current {
			background: rgba(255, 255, 255, 0.15);
		}
	}
	
	button {
		display: block;
		margin: 0 auto 20px;
		padding: 8px 35px;
		font-size: 20px;
	}
}
