@import "standart";

body {
	background: #8d8d8d;
	font-family: sans-serif;
}

#app, #game, #ui, main {
	width: 100vw;
	height: 100vh;
}

#app {
	background: #1f2122;
	/*
	width: 500px;
	height: 500px;
	position: absolute;
	top: 70px;
	left: 50%;
	transform: translate(-50%, 0);
	*/
}

#start {
	width: 320px;
	height: 160px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.4);
	background: #333335;
	border-radius: 5px;

	input {
		width: 75%;
		font: 20px sans-serif;
		background: #252526;
		color: #adadad;
		border: 1px solid #535353;
		border-radius: 4px;
		padding: 4px;
	}

	p {
		position: absolute;
		margin-top: -3px;
		width: 75%;
		color: red;
		font-size: 18px;
		font-weight: bold;
	}

	button {
		margin-top: 30px;
		padding: 8px 30px;
	}
}

#ui {
	position: absolute;
	color: #dadada;

	#name {
		position: absolute;
		font: 24px/24px Loma;
	}

	#time {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		font: 25px/1em Loma;
	}

	#properties {
		position: absolute;
		bottom: 0;
		display: flex;
		flex-direction: column-reverse;
	}

	.scale {
		width: 300px;
		height: 34px;
		background: #252829;
		box-sizing: border-box;
		border: 2px solid #1a1c1d;
		border-radius: 50px;
		margin: 4px 2px;
		position: relative;

		p {
			box-sizing: border-box;
			display: block;
			position: absolute;
			height: 100%;
			width: 60%;
			border-radius: 50px;
			font: 20px/32px Loma;
			padding-left: 10px;
		}
	}

	#hp p {
		background: red;
	}

	#mp p {
		background: mediumblue;
	}

	.ability {
		width: 60px;
		height: 60px;
		background: #252829 no-repeat center;
		border: 2px solid #1a1c1d;
		border-radius: 50%;
		cursor: pointer;
	}

	#shield {
		background-image: url("../img/shield.png");
		background-size: 47px 47px;
	}

	#boost {
		background-image: url("../img/spaceship.png");
		background-size: 42px 42px;
		background-position-y: 6px;
	}
}

main {
	position: absolute;

	#player {
		position: absolute;
		width: 70px;
		height: 70px;
		background: url("../img/spaceship.png") center no-repeat / 70px 70px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(0deg);
	}
}
